<form action="<%= track_notes_url(track) %>" method="post">
  <label for="note_body">Add a note</label>
  <textarea name="note[body]" id="note_body"></textarea>
  <input type="hidden" name="note[track_id]" value="<%= track.id %>">
  <input type="hidden" name="note[user_id]" value="<%= current_user.id %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Save">
</form>