<form action="/tracks<%= "/#{@track.id}"%>" method="post">

  <label for="track_name">Track Name</label>
  <input type="text" name="track[name]" id="track_name">
  <br>

  <label for="track_bonus">Type</label>
  <select name="track[bonus]" id="track_bonus">
    <option value="bonus">Bonus</option>
    <option value="regular" selected>Regular</option>
  </select>
  <br>

  <label for="track_album_id">Album</label>
  <select name="track[album_id]" id="track_album_id">
    <option>Select</option>
    <% @albums.each do |album| %>
    <option value="<%= album.id %>" <%= 'selected' if @track.album_id == album.id %>><%= album.name %></option>
    <% end %>
  </select>
  <br>

  <label for="track_lyrics">Lyrics</label>
  <textarea name="track[lyrics]" id="track_lyrics">
    <%= @track.lyrics %>
  </textarea>
  <% if @track.id %>
  <input type="hidden" name="_method" value="put">
  <% end %>
  <br>
  <br>

  <input type="submit" value="<%= controller.action_name == 'edit' ? 'Update' : 'Save' %>">

</form>