<h5>
  <%= link_to @track.album.band.name, @track.album.band %> > <%= link_to @track.album.name, @track.album %> > <%= @track.name %>
</h5>

<%= ugly_lyrics(@track.lyrics) %>

<h2><%= @track.name %></h2> <%= render partial: "shared/destroy_button", locals: {object: @track} %>
<%= render @track.notes %>
<% if current_user %>
<%= render partial: "notes/form", locals: {track: @track} %>
<% end %>


