<h2>Welcome to our awesome music site!</h2>

<p>You signed up with your <%= @user.email %> email.</p>

<p>Please click <%= link_to "here", @url %> to activate your account post haste.</p>

<p>Thanks again!</p>