<form action="<%= users_url %>" method="post">
  <input type="email" name="user[email]" placeholder="email">
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <label for="password_confirm">Confirm Password</label>
  <input type="password" name="user[password_confirmation]" id="password_confirm">
  <input type="hidden" name="authenticty_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Sign Up!">
</form>