<% if user_is_admin? || object.class == Note %>
<form action="<%= send("#{object.class.to_s.downcase}_url".to_sym, object) %>" method="post">

  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="submit" value="Delete">
</form>
<% end %>

