<form action="/albums<%= "/#{@album.id }"%>" method="post">

  <label for="album_name">Name</label>
  <input type="text" name="album[name]" id="album_name">
  <br>

  <label for="album_type">Type</label>
  <select name="album[recording_type]" id="album_type">
    <option value="live">Live</option>
    <option value="studio">Studio</option>
  </select>
  <br>

  <label for="album_band_id">Band</label>
  <select name="album[band_id]" id="album_band_id">
    <option>Select</option>
    <% @bands.each do |band| %>
    <option value="<%= band.id %>" <%= 'selected' if band.id == @album.band_id %>><%= band.name %></option>
    <% end %>
  </select>
  <br>

  <% if @album.id %>
  <input type="hidden" name="_method" value="put">
  <% end %>
  <br>

  <input type="submit" value="<%= controller.action_name == 'edit' ? 'Update' : 'Save' %>">

</form>