<h5> <%= link_to @album.band.name, @album.band %> > <%= @album.name %></h5>
<h2><%= @album.name %></h2>

<ol>
<% @album.tracks.each do |track| %>
  <li><%= link_to track.name, track %> <%= render partial: "shared/destroy_button", locals: {object: track} %></li>
<% end %>
</ol>
<br>
<br>
<%= link_to "Add new track", new_album_track_url(@album) %>