<form action="/bands<%= "/#{@band.id}" %>" method="post">

  <label for="band_name">Name</label>
  <input type="text" name="band[name]" id="band_name">
  <br>

  <% if @band.id %>
  <input type="hidden" name="_method" value="put">
  <% end %>
  <br>

  <input type="submit" value="<%= controller.action_name == 'edit' ? 'Update' : 'Save' %>">

</form>