<h2>Bands</h2>

<% if @bands.empty? %>
<p>NO BANDS</p>
<% end %>

<ol>
<% @bands.each do |band| %>
  <li><%= link_to band.name, band %></li>
<% end %>
</ol>

<%= link_to 'Create new band', new_band_url %>