<h2><%= @band.name %></h2>

<ol>
<% @band.albums.each do |album| %>

  <li><%= link_to album.name, album %> <%= render partial: "shared/destroy_button", locals: {object: album} %></li>
  <ol>
    <% album.tracks.each do |track| %>
    <li><%= link_to track.name, track %> <%= render partial: "shared/destroy_button", locals: {object: track} %></li>
    <% end %>
  </ol>
<% end %>
</ol>
<%= link_to "Create new album", new_band_album_url(@band) %>
<%= render partial: "shared/destroy_button", locals: {object: @band} %>
