<!DOCTYPE html>
<html>
<head>
  <title>Music</title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  html{
    font-family: helvetica, sans-serif;
  }
  </style>
</head>
<body>
<%= debug params %>
<%= debug session %>
<hr>

<p><%= flash[:notice] %></p>
<p><%= flash[:alert] %></p>

<% if logged_in? %>
<span>Logged is as <%= current_user.email %> <%= render partial: "shared/logout"  %></span>
<% else %>
<%= render partial: "shared/login" %>
<% end %>


<%= yield %>

</body>
</html>
